.add-entry {
  color: #1976d2;

  &__title {
    margin-top: 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  &__container {
    font-family: inherit;
    padding: 0 5rem;
    margin-bottom: 2rem;
  }

  .details-card {
    color: inherit;
    margin-bottom: 1rem;
    padding: 1rem;

    &__inputs-div {
      margin: 1rem 0;
      display: flex;
      justify-content: flex-start;
    }
  }

  .entry-input {
    // width: 15rem;
    margin: 0 0.5rem 0.5rem 0;
  }
}
