.consolidated-report {
  &__container {
    font-family: inherit;
    padding: 0 5rem;
    margin-bottom: 2rem;
  }
  &__filter-div {
    display: flex;
    // justify-content: space-between;
    margin-top: 1rem;
  }
  &__filter-input {
    margin-right: 1rem !important;
  }
  &__filter-paper {
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .travel-count-title {
    color: #003f7d;
  }
}
