.vehicles {
  &__container {
    font-family: inherit;
    padding: 0 5rem;
    margin-bottom: 2rem;
  }

  &__divs {
    display: flex;
    justify-content: space-between;

    &-vehicle {
      //   width: 50%;
    }
    &-driver {
      //   width: 50%;
    }
  }

  .details-card {
    color: inherit;
    margin-bottom: 1rem;
    padding: 1rem;

    &__inputs-div {
      margin: 1rem 0;
      display: flex;
      justify-content: space-between;

      &-vehicles {
        margin-top: 1rem;
        align-items: center;
        display: flex;
      }

      &-drivers {
        margin-top: 1rem;
        align-items: center;
        display: flex;
      }
    }
  }

  .entry-input {
    margin-right: 1rem;
  }
}
